* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: lightgoldenrodyellow;
  width: 45em;
  aspect-ratio: 16/9;
  display: flex;
  justify-content: space-around;
  padding: 1em 0;
}

.wrapper {
  width: 8em;
  height: 100%;
}
.wrapper.wrap_left {
  transform: rotateZ(40deg);
}

.wrapper.wrap_right {
  transform: rotateZ(-40deg);
}
.triangle {
  width: 100%;
  height: 15em;
}
.triangle.tri_left {
  width: 0;
  height: 0;
  border-top: 10em solid rgb(250, 80, 80);
  border-right: 4em solid transparent;
  border-left: 4em solid transparent;
}
.triangle.tri_right {
  width: 0;
  height: 0;
  border-top: 10em solid rgb(250, 80, 80);
  border-left: 4em solid transparent;
  border-right: 4em solid transparent;
}
.shooting {
  width: 100%;
  height: 16em;
}
.shooting.fire_left {
  position: relative;
}
.shooting.fire_right {
  position: relative;
}

.partyPopper {
  transform: translateY(100%);
  opacity: 0;
}

.partyPopper.shape_1 {
  position: absolute;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  bottom: 0;
  left: 0;

  background: lightseagreen;
  animation: popper_1 3s ease-out 1s;
}
@keyframes popper_1 {
  0% {
    transform: translateY(0%);
    opacity: 0.1;
  }
  30% {
    transform: translate(100%, -800%);
    opacity: 1;
  }

  100% {
    transform: translateY(-500%);
    opacity: 0.1;
  }
}

.partyPopper.shape_2 {
  position: absolute;
  width: 3em;
  height: 3em;
  bottom: 0;
  left: 50%;
  background-color: lightgreen;
  border-radius: 0 100% 0 0;
  animation: popper_2 3s ease-out 1s;
}
@keyframes popper_2 {
  0% {
    transform: translateY(0%);
    opacity: 0.1;
  }
  30% {
    transform: translate(50%, -250%) rotateZ(-45deg);
    opacity: 1;
  }

  100% {
    transform: translateY(-100%);
    opacity: 0.1;
  }
}
.partyPopper.shape_3 {
  position: absolute;
  width: 1em;
  height: 3em;
  bottom: 0;
  left: 25%;
  transform: translateY(50%) skewX(30deg);
  background-color: lightpink;
  animation: popper_3 3s ease-out 1s;
}
@keyframes popper_3 {
  0% {
    transform: translateY(0%);
    opacity: 0.1;
  }
  30% {
    transform: translate(50%, -400%) rotateZ(45deg);
    opacity: 1;
  }

  100% {
    transform: translateY(-100%);
    opacity: 0.1;
  }
}
.partyPopper.shape_4 {
  position: absolute;
  width: 2em;
  height: 2em;
  bottom: 0;
  right: 0;
  border-style: double;
  border-width: 1em;
  border-color: skyblue;
  animation: popper_4 3s ease-out 1s;
}
@keyframes popper_4 {
  0% {
    transform: translateY(0%);
    opacity: 0.1;
  }
  30% {
    transform: translate(-50%, -600%) rotateZ(-180deg);
    opacity: 1;
  }

  100% {
    transform: translateY(-400%);
    opacity: 0.1;
  }
}
.partyPopper.shape_5 {
  position: absolute;
  width: 1em;
  height: 3em;
  bottom: 0;
  left: 25%;
  transform: translateY(50%) skewX(-30deg);
  background-color: lightsalmon;
  animation: popper_5 3s ease-out 1s;
}
@keyframes popper_5 {
  0% {
    transform: translateY(0%);
    opacity: 0.1;
  }
  30% {
    transform: translate(-50%, -150%) rotateZ(120deg);
    opacity: 1;
  }
  100% {
    transform: translateY(0%);

    opacity: 0.1;
  }
}

.partyPopper.shape_6 {
  position: absolute;
  width: 0em;
  height: 0em;
  bottom: 0;
  left: 40%;
  border-top: 2em solid greenyellow;
  border-right: 1em solid transparent;
  border-left: 1em solid transparent;
  animation: popper_6 3s ease-out 1s;
}
@keyframes popper_6 {
  0% {
    transform: translateY(0%);
    opacity: 0.1;
  }
  30% {
    transform: translate(-50%, -350%) rotateZ(180deg);
    opacity: 1;
  }

  100% {
    transform: translateY(-150%);
    opacity: 0.1;
  }
}

.partyPopper.shape_7 {
  position: absolute;
  width: 2em;
  height: 2em;
  bottom: 0;
  left: 10%;
  border-style: dotted;
  border-width: 0em 1em 1em 0em;
  border-color: rgb(250, 80, 80);
  animation: popper_7 3s ease-out 1s;
}
@keyframes popper_7 {
  0% {
    transform: translateY(0%);
    opacity: 0.1;
  }
  30% {
    transform: translate(170%, -200%) rotateZ(90deg);
    opacity: 1;
  }

  100% {
    transform: translateY(0%);
    opacity: 0.1;
  }
}

.partyPopper.shape_8 {
  position: absolute;
  width: 1em;
  height: 1em;
  bottom: 0;
  left: 60%;
  background-color: rgb(153, 231, 231);
  animation: popper_8 3s ease-out 1s;
}
@keyframes popper_8 {
  0% {
    transform: translateY(0%);
    opacity: 0.1;
  }
  30% {
    transform: translate(-130%, -250%) rotateZ(360deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-50%);
    opacity: 0.1;
  }
}

.partyPopper.shape_9 {
  position: absolute;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  bottom: 0;
  left: 70%;
  border-style: groove;
  border-width: 1em 1em 1em 1em;
  border-color: lavender;
  animation: popper_9 3s ease-out 1s;
}
@keyframes popper_9 {
  0% {
    transform: translateY(0%);
    opacity: 0.1;
  }
  30% {
    transform: translate(100%, -200%) rotateZ(360deg);
    opacity: 1;
  }

  100% {
    transform: translateY(-200%);
    opacity: 0.1;
  }
}

.text {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: bolder;
  font-family: Impact, "Arial Narrow Bold", sans-serif;
  opacity: 0;
  animation: showText 3s 1s;
}
@keyframes showText {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0.1;
    transform: scale(0.8);
  }
}
